<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Super Mario NES</key>
	<dict>
		<key>Name</key>
		<string>Super Mario NES</string>
		<key>Brand</key>
		<string>Nintendo</string>
		<key>Price</key>
		<string>17.99</string>
		<key>AddNotes</key>
		<string>A 2D Platformer game made by Nintendo in 1985.</string>
		<key>ImageName</key>
		<string>220px-NES_Super_Mario_Bros.png</string>
	</dict>
	<key>Lego Classic Set</key>
	<dict>
		<key>Name</key>
		<string>Lego Classic Set</string>
		<key>Brand</key>
		<string>Lego</string>
		<key>Price</key>
		<string>40.00</string>
		<key>AddNotes</key>
		<string>The original Lego set</string>
		<key>ImageName</key>
		<string>6000199055604.jpg</string>
	</dict>
	<key>Blokus</key>
	<dict>
		<key>Name</key>
		<string>Blokus</string>
		<key>Brand</key>
		<string>Mattel</string>
		<key>Price</key>
		<string>25.00</string>
		<key>AddNotes</key>
		<string>A strategy board game.</string>
		<key>ImageName</key>
		<string>81LEjjVViUL._SL1500_-zoom.jpg</string>
	</dict>
	<key>Thanos</key>
	<dict>
		<key>Name</key>
		<string>Thanos Bobblehead</string>
		<key>Brand</key>
		<string>Marvel</string>
		<key>Price</key>
		<string>34.99</string>
		<key>AddNotes</key>
		<string>A bobblehead of the villain Thanos from The Avengers: Infinity War</string>
		<key>ImageName</key>
		<string>31357f81-6b3f-4927-bc2b-6f8164bc65a9.jpg</string>
	</dict>
</dict>
</plist>
